body {
  height: auto;
  width: auto;
  background-color: #fbf7ef;
}

.nav {
  height: 3.6rem;
}

.logo {
  font-family: "Mitr", cursive;
  color: black;
  display: inline-flex;
  align-self: center;
}

.navlinks {
  font-family: "Mitr", sans-serif;
  color: black;
  font-size: small;
}

.radius {
  border-radius: 11px;
}

.radius2 {
  border-radius: 16px;
}

.img-responsive {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .img-responsive {
    max-width: 75%;
  }
}

@media (min-width: 1024px) {
  .img-responsive {
    max-width: 90%;
  }
}

.ts-icons {
  width: 22px;
  height: 22px;
  transition: transform 0.3s ease;
}

.ts-icons2 {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}

.external-link-icon {
  width: 15px;
  height: 15px;
}

.ts-icons:hover {
  transform: scale(1.6);
}

.h3 {
  font-family: "Mitr", sans-serif;
}

.foto {
  border: solid 3.15px #060606;
  border-radius: 30%;
  animation: slide;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

.img {
  max-width: 100%;
  height: auto;
  display: block;
}

.circular-image {
  border-radius: 50%;
  overflow: hidden;
  animation: spin 12s linear infinite;
}

@keyframes slide {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
